<a href="https://colab.research.google.com/github/darjuangeloys/LinearAlgebra2021/blob/main/Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Welcome to Phyton Fundamentals
In this module, we are going to establish our skills in Phytin programming. In this notebook we are going to cover:


*   Variables and Data Types
*   Operations
*   Input and Output Operations
*   Logic Control
*   Iterables
*   Functions

## Variables and Data Types

In [ ]:
x = 1
a, b = 3, -2

In [ ]:
type(x)

int

In [ ]:
y  = 3.0
type(y)

float

In [ ]:
x = float(x)
type(x)
x

1.0

In [ ]:
s, t, u = "1", '3', 'three'
type(u)

## Operations

### Arithmetic

In [ ]:
w, x, y, z = 4.0, -3.0, 1, -32

In [ ]:
### Addition
S = w + x

In [ ]:
### Subtraction
D = y - z

In [ ]:
### Multiplication
P = w*z

-128.0

In [ ]:
### Division
Q = y/x

In [ ]:
### Floor Division
Qf = w//x
Qf

-2.0

In [ ]:
### Exponentiation
E = w**y

In [ ]:
### Modulo 
mod = z%x
mod

-2.0

### Assignment

In [ ]:
A, B, C, D, E = 0, 100, 2, 1, 2

In [ ]:
A += w

In [ ]:
B -= x

In [ ]:
C *= w

In [ ]:
D /= x

In [ ]:
E **= y

### Comparators

In [ ]:
size_1, size_2, size_3 = 1, 2.0, "1"
true_size = 1.0;

In [ ]:
## Equality
size_1 == true_size

In [ ]:
## Non-equality
size_2 != true_size

True

In [ ]:
## Inequality
s1 = size_1 > size_2
s2 = size_1 < size_2/2
s3 = true_size >= size_1
s4 = size_2 <= true_size

### Logical

In [ ]:
size_1 == true_size

In [ ]:
size_1 is true_size

In [ ]:
size_1 is not true_size

In [ ]:
P, Q = True, False
conj = P and Q

In [ ]:
disj = P or Q
disj

In [ ]:
nand = not(P and Q)
nand

In [ ]:
xor = (not P and Q) or (P and not Q)
xor

## Input and Output

In [ ]:
print("Hello World!")

Hello World!

In [ ]:
cnt = 14000

In [ ]:
string = "Hello World!"
print(string, ", Current COVID count is:", cnt)
cnt += 10000

In [ ]:
print(f"{string}, current count is: {cnt}")

Hello World!, current count is: 64007

In [ ]:
sem_grade = 86.25
name = "Lois"
print("Hello {}, your semestral grades is: {}". format(name, sem_grade))

Hello Lois, your semestral grades is: 86.25

In [ ]:
pg, mg, fg = 0.3, 0.3, 0.4
print("The weights of your semestral grade are:\
\n\t {:.2%} for Prelims\
\n\t {:.2%} for Midterms, and\
\n\t {:.2%} for Finals.".format(pg, mg, fg))

In [ ]:
e = input("Enter a number: ")
e

In [ ]:
name = input("Enter your name: ")
pg = input("Enter prelim grade: ")
mg = input("Enter midterm grade: ")
fg = input("Enter final grade: ")
sem_grade = None
print("Hello {}, your semestral grade is: {}".format(name, sem_grade))

## Looping statements

## While

In [ ]:
## while loops
i, j = 0, 10
while(i <= j):
  print(f"{i}\t|\t{j}")
  i += 1

0	|	10
1	|	10
2	|	10
3	|	10
4	|	10
5	|	10
6	|	10
7	|	10
8	|	10
9	|	10
10	|	10

## For

In [ ]:
# for(int = 0; i<=10, i++){
# printf(i)
# }

i = 0 
for i in range(11):
  print(i)

In [ ]:
playlist = ["Bahay Kubo", "Magandang Kanta", "Buko"]
print('Now Playing:\n')
for song in playlist: 
  print(song)

Now Playing:

Bahay Kubo
Magandang Kanta
Buko

## Flow Control

### Condition Statements

In [ ]:
num_1, num_2 = 14, 12
if(num_1 == num_2):
  print("HAHA")
elif(num_1>num_2):
  print("HOHO")
else:
  print("HUHU")

HOHO

## Functions

In [ ]:
# void DeleteUser (int userid){
#   delete(userid);
#}

def delete_user (userid):
    print("Successfully deleted user: {}".format(userid))

In [ ]:
userid = 2020_100100
delete_user(2020_100100)

Successfully deleted user: 2020100100

In [ ]:
def add(addend1, addend2):
    sum = addend1 + addend2
    return sum

In [ ]:
add(5, 4)

9